<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<head>
<style>
	.contenido {width:100%;
	min-width:1000px;
	position:absolute;
	left: 0;
    right: 0;
    margin: auto;}
	p {padding-left:7px;}
	.contenido_derecha{width:68%;position:relative;float:left;border-style:solid;border-width:1px;height:120px;}
	.contenido_derecha_1{width:68%;position:relative;float:left;border-style:solid;border-width:1px;height:250px;margin-top:5px;}
	.contenido_izquierda{margin-left:5px;width:30%;position:relative;float:left;border-style:solid;border-width:1px;height:120px;}
	.contenido_izquierda_1{margin-left:5px;width:30%;position:relative;float:left;border-style:solid;border-width:1px;height:250px;margin-top:5px;}
	table {border-style:solid;border-width:1px;font-size:100%;margin-top:15px;position:relative;float:left;width:100%;}
	td, th {text-align: center;}
	.tabla_impuesto {border-style:solid;border-width:2px;font-size:100%;margin-top:15px;position:relative;float:right;width:35%;}
	.tabla_impuesto th {border-style:solid;}
	.separacion_tabla {padding-top: 20px; border-top: solid;}
	.separacion_tabla_final {border-style:solid;}
</style>
</head>

<div class="contenido_derecha"><p>La Copelancita De Venezuela, C.A<br ></p>
	 <p>R.I.F.: j307532556<br ></p>
	 <p>N.I.T.:<br ></p>
</div>
<div class="contenido_izquierda"><p>Fecha de Emision:  <%= Time.now %> <br ></p>
</div>
<div class="contenido_derecha_1">
	<p>Cliente :  <%= @order.nombre %>	<br ></p>
	<p>Direcci贸n: <%= @order.direccion %><br ></p>
	<p>Direcci贸n de envio: <%= @order.direccionaux %><br ></p>
	<p>Telefono: <%= @order.telefono %>	<br ></p>
	<p>Transporte: <%= @order.tipoenvio %><br ></p>
</div>
<div class="contenido_izquierda_1">
	<p>Condic. Pago: <%= @order.tipoPago %><br ></p>
	<p>Vendedor: Compra electr贸nica	<br ></p>
</div>	
<table>
<tr><th>Codigo</th>
	<th>Modelo</th>
	<th>Descripci贸n</th>
	<th>Cantidad</th>
	<th>Precio Unitario</th>
	<th>% Desc.</th>
	<th>Desc.</th>
	<th>% I.V.A</th>
	<th>I.V.A</th>
	<th>Neto</th>
	</tr>
<%= render @order.line_items %>
</table>

<table class="tabla_impuesto">
	<tr>
	<th>Tasa</th>
	<th>Base Imponible</th>
	<th>I.V.A</th>
	</tr>
	<tr>
  	<td>12 %</td>
   	<td><%= @precio_total.round(2) %></td>
   	<td><%= ((@precio_total.to_f)*12/100.to_f).round(2) %></td>
	</tr>
	<tr>
  	<td></td>
   	<td class="separacion_tabla">Sub-Total : </td>
   	<td class="separacion_tabla"><%= @precio_total.round(2) %></td>
	</tr>
	<tr>
  	<td></td>
   	<td>I.V.A.: </td>
   	<td><%= ((@precio_total.to_f)*12/100.to_f).round(2) %></td>
	</tr>
	<tr>
  	<td></td>
   	<td>% Desc.:  </td>
   	<td>0.00</td>
	</tr>
	<tr>
  	<td></td>
   	<td>Recargo:</td>
   	<td>0.00</td>
	</tr>
	<tr>
  	<td></td>
   	<td>Otros:</td>
   	<td>0.00</td>
	</tr>
	<tr>
  	<td></td>
   	<td class="separacion_tabla_final">Neto:</td>
   	<td class="separacion_tabla_final"><%= @precio_total.round(2)+((@precio_total.to_f)*12/100.to_f).round(2) %></td>
	</tr>
</table>
</div>