<%= javascript_include_tag "zoomsl-3.0.min.js" %>
<script>
	jQuery(function(){
    	$(".zoomsl").imagezoomsl({
        	zoomrange: [4,4],
			magnifiersize: [300,300],
			magnifiereffectanimate: "fadeIn"
    	});
	});
</script>
	    <% @productos.each do |producto| %>
		<div class="entry">
			<h3><%= producto.nombre %></h3>
			<% if !producto.imagenagregada.to_s.include?('no_dispo.jpg') %>
            <img class="zoomsl" src="<%= image_path(producto.imagenagregada.url) %>" 
            style="position:absolute;width:80px;margin-right:10px;margin-left:20px;margin-bottom:5px;z-index:1;" alt="" />
            <% else %>
          	<img class="zoomsl" src="<%= image_path(producto.imageurl) %>" 
            style="position:absolute;width:80px;margin-right:10px;margin-left:20px;margin-bottom:5px;z-index:1;" alt="" />
            <% end %>
			<h4 class="price_line"><%= producto.marca %></h4>
			<div class="price_line">
				<% if user_signed_in? %>
				<div class="price"><%= number_to_currency(producto.precio, :unit=>"Bsf ") %></div>
				<div class="price">Disponible</div>	
				<%= button_to 'Agregar al Carro', line_items_path(producto_id: producto), remote: true,:class => "button" %>
				<% else %>
				<div class="price"><%= link_to "Precio", new_user_session_path %></div>
				<div class="price">Disponible</div>	
				<% end %>
			</div>
			<div class="codigo"><%= producto.codigo %></div>
		</div>
		<% end %>
