	    <% @productos.each do |producto| %>
		<div class="entry">
			<h3><%= producto.nombre %></h3>
			<%= image_tag(producto.imageurl, :class => 'catalogo') %>
			<h4><%= producto.marca %></h4>
			<div class="price_line">
				<div class="price"><%= number_to_currency(producto.precio, :unit=>"Bsf ") %></div>
				<% if producto.cantidad >= 2 %>
				<div class="price">Disponible</div>	
				<% else %>
				<div class="price" style="color:#F46767;font-weight:bold">Agotado</div>	
				<% end %>
				<%= button_to 'Agregar al Carro', line_items_path(producto_id: producto), remote: true,:class => "button" %>	
				<%= image_tag("logo/carro_1.png",  :class => 'carro') %>
			</div>
			<div style="text-align:center;z-index:1;margin-top:12px;margin-bottom:5px;"><%= producto.codigo %></div>
		</div>
		<% end %>
