<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Vista detalle de tus productos</h1> 
<%= form_tag tienda_path, :method => 'get', :id => "productos_search" do %>
    <h3>Busqueda tu Producto por Nombre o Código</h3>
    <p style="font-style:italic;font-size:12px;font-color:gray;">
    	Busqueda de un solo campo a la vez
    </p>    
    <p>  
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "Buscar", :nombre => nil %>  
    </p>  
    <% end %> 

	<% @productos2.each do |producto| %>
	<div class="entry" style="margin-top:12px;">
		<h3><%= producto.nombre %></h3>

		<% if !producto.imagenagregada.to_s.include?('no_dispo.jpg') %>
        <%= image_tag producto.imagenagregada.url , class: 'catalogo' %>
        <% else %>
        <%= image_tag(producto.imageurl, class: 'catalogo') %>
        <% end %>
        
		<h4><%= producto.marca %></h4>
			<div class="price_line">
				<div class="price"><%= number_to_currency(producto.precio, :unit=>"Bsf ") %></div>
				<% if producto.cantidad > 2 %>
				<div class="price">Disponible</div>	
				<%= button_to 'Agregar al Carro', line_items_path(producto_id: producto), remote: true,:class => "button" %>
				<% else %>
				<div class="price" style="color:#F46767;font-weight:bold">Agotado</div>	
				<% end %>
				<%= image_tag("logo/carro_1.png",  :class => 'carro') %>
			</div>
			<div style="text-align:center;z-index:1;margin-top:12px;margin-bottom:5px;"><%= producto.codigo %></div>
	</div>
<% end %>
