<p>
  <b>Email del Usuario:</b>
  <%= @user.email %>
</p>
<p>
<b>Nombre y Apellido:</b>
  <%= @user.apellido %> , <%= @user.nombre %> 
</p>
<p>
<b>Empresa</b>
  <%= @user.nombreEmpresa %>
</p>
<p>
<b>Teléfono</b>
  <%= @user.telefono %>
</p>
<p>
<b>Dirección</b>
  <%= @user.direccion %>
</p>
<div class="form-actions">
<%= link_to "Atras", users_path, :class => 'btn'  %>
</div>