<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p style="color:#F46767;font-weight:bold">*Todos los campos deben ser llenados*</p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, size: 20 %>
  </div>
  <div class="field">
    <%= f.label :empresa %><br />
    <%= f.text_field :empresa,  rows: 3, cols:40 %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br />
    <%= f.text_area :direccion, rows: 3, cols:40 %>
  </div>
   <div class="field">
    <%= f.label :direccion_de_envio %><br />
    <%= f.text_area :direccionaux, rows: 3, cols:40 %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, size:40 %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono, size:40 %>
  </div>
  <div class="field">
    <%= f.label :telefono_alternativo %><br />
    <%= f.text_field :telefonoaux, size:40 %>
  </div>
  <div class="field">
    <%= f.label :tipo_de_envio %><br />
    <%= f.select :tipoenvio, Order::SEND_TYPES, 
    prompt: 'Selecciona tu tipo de envio' %>
  </div>
  <div class="field">
    <%= f.label :localidad_de_venezuela %><br />
    <%= f.select :localidadvenezuela, Order::VENEZUELA_ESTADOS, 
    prompt: 'Selecciona tu Región de Venezuela' %>
  </div>
  <div class="field">
    <%= f.label :tipo_de_pago %><br />
    <%= f.select :tipoPago, Order::PAYMENT_TYPES,
    prompt: 'Selecciona tu tipo de pago' %>
  </div>
  <div class="actions">
    <%= f.submit 'Hacer Orden' %>
  </div>
<% end %>
