<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> Esta Orden no puede ser procesada:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2>Cambie el estatus de la orden aquí</h2>
  <div class="field">
    <%= f.label :Estatus %><br />
    <%= f.select :status, Order::STATUS, 
    prompt: 'Seleccione' %>
  </div>
  <div class="field">
  <%= show_simple_captcha(:label => "Demuestra que eres humano") %>
  </div>
  <div class="actions">
    <%= f.submit 'Cambiar Status' %>
  </div>
<% end %>
