<h1>Lista de Ordenes</h1>
</br></br></br>
<table class = "resumen">
  <tr>
    <th>Nombre</th>
    <th>Empresa</th>
    <th>Teléfono</th>
    <th>Fecha de Creación</th>
    <th>Usuario</th>
    <th>Estatus</th>
    <th>Pagado?</th>
    <th>Fecha de Actualización</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.nombre %></td>
    <td><%= order.empresa %></td>
    <td><%= order.telefono %></td>
    <td><%= order.created_at - (4*60*60 + 30*60) %></td>    
    <% @usuario = User.find_by_id(order.userid) %>
    <td><%= @usuario.email %></td>
    <td><%= order.status %></td>
    <% if order.numerodepago != nil and order.monto != nil %>
    <td class = "CellsToExpand" style = "background:#99cc99;color:white">Ref: <%= order.banco %>;<%= order.numerodepago %>; Monto: <%= order.monto %> </td>
    <% else %>
    <td class = "CellsToExpand" style = "background:#c27070;color:white">En espera</td>
    <% end %>
    <td class = "CellsToExpand"><%= order.updated_at - (4*60*60 + 30*60) %></td>
    <td><%= link_to 'Mostrar', order %></td>
    <td><%= link_to 'Editar', edit_order_path(order) %></td>
    <td><%= link_to 'Eliminar', order, confirm: 'Esta seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

