<p>
  <b>Nombre:</b>
  <%= @order.nombre %>
</p>

<p>
  <b>Direccion:</b>
  <%= @order.direccion %>
</p>

<p>
  <b>Direccion MRW de envio:</b>
  <%= @order.direccionaux %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Telefono:</b>
  <%= @order.telefono %>
</p>

<p>
  <b>Telefono alternativo:</b>
  <%= @order.telefonoaux %>
</p>

<p>
  <b>Tipo de envio:</b>
  <%= @order.tipoenvio %>
</p>

<p>
  <b>Localidad en Venezuela:</b>
  <%= @order.localidadvenezuela %>
</p>

<p>
  <b>Tipo de pago:</b>
  <%= @order.tipoPago %>
</p>

<p>
  <b>Fecha de la orden:</b>
  <%= @order.created_at - (4*60*60 + 30*60)%>
</p>
<p>
  <b>Status:</b>
  <%= @order.status %>
</p>
<p>
  <b>Fecha de cambio de estatus</b>
  <%= @order.updated_at - (4*60*60 + 30*60) %>
</p>
<p>
<b>Productos Demandados:</b>
<table class = "tableOrder">
<tr><th>Nombre</th>
    <th>Cantidad</th>
</tr>
<tr>
<% @k=0 %>
<% @productos.each do |productos| %>
<td><%= productos.nombre %></td>
<td class="quantity"><%= @cantidad[@k] %></td>
</tr>
<% @k+=1 %> 
<% end  %>
</table>
<%= link_to 'Editar', edit_order_path(@order) %> |
<%= link_to 'Ir atras', orders_path %>
