<h2>Tu carro de compras</h2>
<table>
  <%= render(cart.line_items) %>
<tr class="total_line">
  <td colspan="2">I.V.A</td>
  <td class="total_cell"><%= number_to_currency(cart.total_price*12/100, :unit => "Bsf ") %></td>
</tr>
<tr class="total_line">
  <td colspan="2">Total</td>
  <td class="total_cell"><%= number_to_currency(cart.total_price, :unit => "Bsf ") %></td>
</tr>
</table>  
<%= button_to 'Continuar con la compra', new_order_path, method: :get, :class => 'button1' %>
<%= button_to 'Vaciar carro', cart, method: :delete, remote: true , :class => 'button2'%>