<div class="depot_form">
	<% if flash[:alert] %>
	<p id="notice"><%= flash[:alert] %></p>
	<% end %>
	<%= form_tag do %>
	<fieldset>
		<legend>Porfavor ingresa tu clave y usuario</legend>
		<div>
		<%= label_tag :nombre, 'Nombre:' %>
		<%= text_field_tag :nombre, params[:nombre] %>
		</div>
		<div>
		<%= label_tag :password, 'Password:' %>
		<%= password_field_tag :password, params[:password] %>
		</div>
		<div>
		<%= submit_tag "Login" %>
		</div>
	</fieldset>
<% end %>
</div>	