<style>
h2 {font-size: 20px;
  font-family: ‘Arial Black’, Gadget, sans-serif;
    color: white;
    background:#0a2544;
    height:30px;
    line-height:130%;
  margin-top: 25px;}
h3 {font-size: 15px;
  font-family: ‘Arial Black’, Gadget, sans-serif;
    color: white;
    background:#0a2544;
    height:20px;
    line-height:130%;
  margin-top: 15px;}
div.field{
  font-size: 12px;
  font-family: ‘Arial Black’, Gadget, sans-serif;
}
input[type=submit] {
  border: 0;
  color:white;
    background:#333333;
    height:25px;
}
 input[type=submit]:hover {
    background:#e59400;
    height:25px;
    }
a{
  text-decoration: none;
}
a:hover{
  background: #708090;
}
p{
color:#F46767;
font-weight:bold;
}
</style>
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> Esta Orden no puede ser procesada:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2>Haga efectiva su compra </h2>
  <div class="field">
    <%= f.label :Banco %><br />
    <%= f.select :banco, Order::BANCOS, 
    prompt: 'Selecciona tu Banco' %>
  </div>
  <div class="field">
    <%= f.label :Número_de_deposito_o_pago %><br />
    <%= f.text_field :numerodepago, size: 20 %>
  </div>
  <div class="field">
    <%= f.label :Monto_pagado %><br />
    <%= f.text_field :monto, size: 15 %>
  </div>
  <div class="field">
  <%= show_simple_captcha(:label => "Demuestra que eres humano") %>
  </div>
  <div class="actions">
    <%= f.submit 'Enviar información de pago' %>
  </div>
<% end %>
