<%= javascript_include_tag "jssor.core" %>
<%= javascript_include_tag "jssor.slider" %>
<%= javascript_include_tag "jssor.utils" %>
<script>
jQuery(document).ready(function ($) {
    //Reference http://www.jssor.com/development/slider-with-slideshow.html
    //Reference http://www.jssor.com/development/tool-slideshow-transition-viewer.html

    var _SlideshowTransitions = [
    //Fade
    { $Duration: 5000, $Opacity: 2 }
    ];

    var options = {
        //$DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
        $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
        $AutoPlayInterval: 5000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
        $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
            $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
            $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
            $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
            $ShowLink: true                                    //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
        },

        $ArrowNavigatorOptions: {                       //[Optional] Options to specify and enable arrow navigator or not
            $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
            $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
            $AutoCenter: 0,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
            $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
        },

        $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
            $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
            $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
            $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
            $AutoCenter: 0,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
            $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
            $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
            $SpacingX: 0,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
            $SpacingY: 0,                                   //[Optional] Vertical space between each item in pixel, default value is 0
            $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
        },

        $ThumbnailNavigatorOptions: {
            $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
            $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
            $ActionMode: 0,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
            $DisableDrag: true,                             //[Optional] Disable drag or not, default value is false
            $Orientation: 2                                 //[Optional] Orientation to arrange thumbnails, 1 horizental, 2 vertical, default value is 1
        }
    };

    var jssor_slider1 = new $JssorSlider$("slider1_container", options);

});
</script>
<h1>Remanufactura de compresores</h1>


<div id="slider1_container" style="position: relative; width: 400px;
    height: 255px;margin-top:7px;margin-bottom:25px;margin-left:70px;">

    <!-- Loading Screen -->
    <div u="loading" style="position: relative; top: 0px; left: 0px;">
        <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
            background-color: #000; top: 0px; left: 0px;width: 50%;">
        </div>
        <div style="position: absolute; display: block; background: url(<%= image_path('SlideShow/loading.gif') %>) no-repeat center center;
            top: 0px; left: 0px;width: 50%;">
        </div>
    </div>

    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: relative; left: 0px; top: 0px; width: 400px; height: 255px;
        overflow: hidden;">
        <div>
            <a u=image href="#"><%= image_tag("PROCESOS_NUEVAS/recepcion_de_equipos.jpg", :alt => "piston 1") %></a>
            <div u="caption" t="L" style="position: absolute; top: 20px; left: 20px; width: 200px; height: 30px; color: #ffffff; font-size: 20px; line-height: 30px;"></div>
            <div u="thumb">Recepción</div>
        </div>
        <div>
            <a u=image href="#"><%= image_tag("PROCESOS_NUEVAS/desarmado.jpg", :alt => "piston 1") %></a>
            <div u="caption" t="L" style="position: absolute; top: 20px; left: 20px; width: 200px; height: 30px; color: #ffffff; font-size: 20px; line-height: 30px;"></div>
            <div u="thumb">Desarmado</div>
        </div>
        <div>
            <a u=image href="#"><%= image_tag("PROCESOS_NUEVAS/evaluacion_presupuesto.jpg", :alt => "piston 1") %></a>
            <div u="caption" t="L" style="position: absolute; top: 20px; left: 20px; width: 200px; height: 30px; color: #ffffff; font-size: 20px; line-height: 30px;"></div>
            <div u="thumb">Evaluación y presupuesto</div>
        </div>
        <div>
            <a u=image href="#"><%= image_tag("PROCESOS_NUEVAS/limpieza.jpg", :alt => "piston 1") %></a>
            <div u="caption" t="L" style="position: absolute; top: 20px; left: 20px; width: 200px; height: 30px; color: #ffffff; font-size: 20px; line-height: 30px;"></div>
            <div u="thumb">Limpieza de piezas</div>
        </div>
        <div>
            <a u=image href="#"><%= image_tag("PROCESOS_NUEVAS/rebobinado.jpg", :alt => "piston 1") %></a>
            <div u="caption" t="L" style="position: absolute; top: 20px; left: 20px; width: 200px; height: 30px; color: #ffffff; font-size: 20px; line-height: 30px;"></div>
            <div u="thumb">Rebobinado</div>
        </div>
        <div>
            <a u=image href="#"><%= image_tag("PROCESOS_NUEVAS/rectificacion.jpg", :alt => "piston 1") %></a>
            <div u="caption" t="L" style="position: absolute; top: 20px; left: 20px; width: 200px; height: 30px; color: #ffffff; font-size: 20px; line-height: 30px;"></div>
            <div u="thumb">Rectificación</div>
        </div>
        <div>
            <a u=image href="#"><%= image_tag("PROCESOS_NUEVAS/stock.jpg", :alt => "piston 1") %></a>
            <div u="caption" t="L" style="position: absolute; top: 20px; left: 20px; width: 200px; height: 30px; color: #ffffff; font-size: 20px; line-height: 30px;"></div>
            <div u="thumb">Stock de repuestos</div>
        </div>
        <div>
            <a u=image href="#"><%= image_tag("PROCESOS_NUEVAS/ensamblaje.jpg", :alt => "piston 1") %></a>
            <div u="caption" t="L" style="position: absolute; top: 20px; left: 20px; width: 200px; height: 30px; color: #ffffff; font-size: 20px; line-height: 30px;"></div>
            <div u="thumb">Ensamblado</div>
        </div>
        <div>
            <a u=image href="#"><%= image_tag("PROCESOS_NUEVAS/almacen.jpg", :alt => "piston 1") %></a>
            <div u="caption" t="L" style="position: absolute; top: 20px; left: 20px; width: 200px; height: 30px; color: #ffffff; font-size: 20px; line-height: 30px;"></div>
            <div u="thumb">Almacenaje y despacho</div>
        </div>
    </div>

    <!-- Arrow Navigator Skin Begin -->
    <style>
        /* jssor slider arrow navigator skin 03 css */
        /*
        .jssora03l              (normal)
        .jssora03r              (normal)
        .jssora03l:hover        (normal mouseover)
        .jssora03r:hover        (normal mouseover)
        .jssora03ldn            (mousedown)
        .jssora03rdn            (mousedown)
        */
        .jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
        {
            position: absolute;
            cursor: pointer;
            display: block;
            background: url(<%= image_path('SlideShow/a17.png') %>) no-repeat;
            overflow:hidden;
        }
        .jssora03l { background-position: -3px -33px; }
        .jssora03r { background-position: -63px -33px; }
        .jssora03l:hover { background-position: -123px -33px; }
        .jssora03r:hover { background-position: -183px -33px; }
        .jssora03ldn { background-position: -243px -33px; }
        .jssora03rdn { background-position: -303px -33px; }
    </style>
    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora03l" style="width: 55px; height: 55px; top: 123px; left: 8px;">
    </span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora03r" style="width: 55px; height: 55px; top: 123px; right: 8px">
    </span>

    <!-- Bullet Navigator Skin Begin -->
    <style>
        /* jssor slider bullet navigator skin 03 css */
        /*
        .jssorb03 div           (normal)
        .jssorb03 div:hover     (normal mouseover)
        .jssorb03 .av           (active)
        .jssorb03 .av:hover     (active mouseover)
        .jssorb03 .dn           (mousedown)
        */
        .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av
        {
            background: url(<%= image_path('SlideShow/b16.png') %>) no-repeat;
            overflow:hidden;
            cursor: pointer;
        }
        .jssorb03 div { background-position: -5px -4px; }
        .jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
        .jssorb03 .av { background-position: -65px -4px; }
        .jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }
    </style>
    <!-- bullet navigator container -->
    <div u="navigator" class="jssorb03" style="position: absolute; bottom: 10px; right: 10px;">
        <!-- bullet navigator item prototype -->
        <div u="prototype" style="position: absolute; width: 21px; height: 21px; text-align:center; line-height:21px; color:white; font-size:12px;"><!--NumberTemplate></NumberTemplate--></div>
    </div>

    <!-- ThumbnailNavigator Skin Begin -->
    <div u="thumbnavigator" class="slider1-T" style="position: absolute; bottom: 0px; left: 0px; height:60px; width:600px;">
        <div style="filter: alpha(opacity=40); opacity:0.4; position: absolute; display: block;
            background-color: #ffffff; top: 0px; left: 0px; width: 100%; height: 100%;">
        </div>
        <!-- Thumbnail Item Skin Begin -->
        <div u="slides">
            <div u="prototype" style="POSITION: absolute; WIDTH: 600px; HEIGHT: 60px; TOP: 0; LEFT: 0;">
                <thumbnailtemplate style="font-family: verdana; font-weight: normal; POSITION: absolute; WIDTH: 100%; HEIGHT: 100%; TOP: 0; LEFT: 0; color:#000; line-height: 60px; font-size:20px; padding-left:10px;"></thumbnailtemplate>
            </div>
        </div>
        <!-- Thumbnail Item Skin End -->
    </div>
</div>

<div class="servicio" id="servicio">
<h3 class = "TitProc1">Recepción de equipos</h3>
		<div class = "Proc1">
			<%= image_tag("PROCESOS_NUEVAS/recepcion_de_equipos.jpg", class: 'imgProc2')%>
					<p>Al momento de recibir el compresor, se le elabora una ficha técnica, colocando la información de ingreso (marca, modelo, serial, fecha en que se recibe y su estado físico externo), así como los datos del  cliente que trajo el equipo (nombre empresa, nombre de la persona contacto, teléfono y correo electrónico), en esta misma ficha posteriormente se plasmará  información de su estado mecánico. 
					</p>
					<button type="button" class="button">Esconder</button>
		</div>
<h3 class = "TitProc2">Desarmado</h3>
		<div class = "Proc2">
			<%= image_tag("PROCESOS_NUEVAS/desarmado.jpg", class: 'imgProc1')%>
			<p>Una vez recibido el equipo, pasa al taller donde es desarmado totalmente, colocando toda y cada una de sus piezas al lado del mismo para su evaluación.
			</p>
			<button type="button" class="button">Esconder</button>
		</div>	
<h3 class = "TitProc3">Evaluación y presupuesto</h3>
		<div class = "Proc3">
		<%= image_tag("PROCESOS_NUEVAS/evaluacion_presupuesto.jpg", class: 'imgProc8')%>
			<p>Luego que el equipo es desarmado, cada una de las piezas es evaluada, se observa su estado mecánico,  se  examina el desgaste presentado, el estado de los componentes eléctricos, se le realizan mediciones, el bloque es también examinado con el fin de descartar fallas graves que pueda presentar. <br>
            Se coloca en la ficha técnica  del equipo las piezas que pueden ser rectificadas y aquellas que deben ser remplazadas, en caso de ser requerido se le anexa documentación fotográfica.<br> 
			Una vez evaluado el compresor pasa a la oficina administrativa  donde se elabora  el presupuesto en base a lo indicado en la ficha técnica, especificando: rectificaciones,  reemplazo de partes y piezas mecánicas y/o eléctricas, posteriormente se notifica al cliente el estado de su equipo y el costo de la reparación, si el presupuesto no es aprobado por el cliente, el equipo es armado para su  retiro de nuestras instalaciones.
			</p>
			<button type="button" class="button">Esconder</button>
		</div>	
<h3 class = "TitProc4">Rebobinado</h3>
		<div class = "Proc4">
			<%= image_tag("PROCESOS_NUEVAS/rebobinado.jpg", class: 'imgProc3')%>
			<p>Todo compresor que presente daños en el embobinado es enviado al área de rebobinado, donde se procede a: </p>
			<h4>Limpieza del estator</h4>
			<p>Se retira el embobinado dañado del stator , se  elimina el sucio adherido aplicándole un baño de arena  (sandblasting ).</p>
			<h4>Rebobinado</h4>
			<p>Con los datos originales de fabricación, se rebobina el stator (con capacidad de hasta 100 HP, incluyendo unidades trifásicas bifásicas o monofásicas desde 120 hasta 240 voltios).</p>
			<h4>Barnizado</h4>
			<p>Para proteger el rebobinado y asegurar un mejor rendimiento, se le aplica un baño de barniz a  altas temperaturas,  garantizando así un recubrimiento optimo.</p>
			<button type="button" class="button">Esconder</button>
		</div>
<h3 class = "TitProc5">Rectificación de Piezas</h3>
		<div class = "Proc5">
			<%= image_tag("PROCESOS_NUEVAS/rectificacion.jpg", class: 'imgProc4')%>
			<p>Toda pieza que presente desgaste o no cumpla con las medadas establecidas por el fabricante  (cigüeñal, bloque y los platos ) pasaran al área de rectificación, donde se le aplicaran las correcciones y calibraciones de acuerdo a las especificaciones técnicas del caso.</p>
			<button type="button" class="button">Esconder</button>
		</div>
<h3 class = "TitProc6">Stock de respuesto</h3>
		<div class = "Proc6">
			<%= image_tag("PROCESOS_NUEVAS/stock.jpg", class: 'imgProc5')%>
			<p>Una vez que las partes y piezas están limpias y rectificadas, el almacén entrega las piezas necesarias para reemplazar aquellas que fueron diagnosticadas como dañadas.
			</p>
			<button type="button" class="button">Esconder</button>
		</div>
<h3 class = "TitProc7">Ensamblaje</h3>
		<div class = "Proc7">
			<%= image_tag("PROCESOS_NUEVAS/ensamblaje.jpg", class: 'imgProc6')%>
			<p>El proceso de ensamblado se lleva a cabo una vez que se dispone de todas las piezas nuevas y rectificadas. El ensamblaje del equipo se hace siguiendo las más estrictas normas internas.</p>
			<h4>Prueba en vacío</h4>	
			<p>Para verificar la calidad del proceso de ensamblaje y de reconstrucción del embobinado, nuestros equipos son puestos en marcha antes de instalar los cabezales de los mismos.</p>
			<h4>Prezurizado</h4>	
			<p>Luego de haber verificado la calidad del ensamblaje, el equipo es pintado y presurizado con nitrógeno.</p>
			<button type="button" class="button">Esconder</button>
		</div>
<h3 class = "TitProc8">Almacenaje y despacho</h3>
			<div class = "Proc8">
				<%= image_tag("PROCESOS_NUEVAS/almacen.jpg", class: 'imgProc7')%>
				<p>Una vez concluido la reparación y reconstrucción del equipo, este  es almacenado en el rack de compresores para su entrega al cliente, quien  es informado para que proceda a su retiro.</p>
				<button type="button" class="button">Esconder</button>
			</div>
</div>
