<div class="servicio" id="servicio">
<h1>Remanufactura de compresores</h1>
<div class="background-image"></div>
	<div class="imagenesProceso"><%= image_tag("PROCESO/desarmado.jpg", class: 'imgProc1')%>
	</div>
	<div class="imagenesProceso"><%= image_tag("PROCESO/recepcion.jpg", class: 'imgProc2')%>
	</div>
	<div class="imagenesProceso"><%= image_tag("PROCESO/rebobinado.jpg", class: 'imgProc3')%>
	</div>
	<div class="imagenesProceso"><%= image_tag("PROCESO/rectificacion2.jpg", class: 'imgProc4')%>
	</div>
	<div class="imagenesProceso"><%= image_tag("PROCESO/stock.jpg", class: 'imgProc5')%>
	</div>
	<div class="imagenesProceso"><%= image_tag("PROCESO/ensamblado.jpg", class: 'imgProc6')%>
	</div>
	<div class="imagenesProceso"><%= image_tag("PROCESO/despacho2.jpg", class: 'imgProc7')%> 
	</div>
	<div class="imagenesProceso"><%= image_tag("PROCESO/presupuesto.jpg", class: 'imgProc8')%> 
	</div>
</div>
