<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
    <% end %>

 <% if @mailer %>
    <% @impuesto=((line_item.total_price.to_f)*12/100.to_f).round(2) %>
    <% @TotalItem=(line_item.total_price).round(2) %>
    <td><%= line_item.producto.codigo %></td>
    <td><%= line_item.producto.modelo %></td>
    <td><%= line_item.producto.nombre %></td>
    <td><%= line_item.quantity %></td>
    <td><%= line_item.producto.precio %></td>
    <td>12.0</td>
    <td><%= @impuesto %></td>
    <td><%= @TotalItem %></td>
    </tr>
<% else %>
       <td><%= line_item.quantity %>&times;</td>
    <td><%= line_item.producto.nombre %></td>
    <td class="item_price"><%= number_to_currency(line_item.total_price, :unit => "Bsf ")    %></td>
    <td><%= button_to "-", decrease_line_item_path(line_item), :method => :put, remote: true, :class => 'buttonMenos' %></td>
    <td><%= button_to "+10", increase_line_item_path(line_item), :method => :put, remote: true, :class => 'buttonMas' %></td>
<% end %>