<div class= "default">
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Carrier.jpg", class: 'imgComp1'), tienda_pagina_path(:marca => "Carrier") %></div>
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Copeland.jpg", class: 'imgComp2'), tienda_pagina_path(:marca => "Copeland")%></div>
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Trane.jpg", class: 'imgComp3'), tienda_pagina_path(:marca => "Trane") %></div>
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/York.jpg", class: 'imgComp4'), tienda_pagina_path(:marca => "York")%></div>
</div>
<div class = "servicio2">
				<div class = "Proc1">
					<h2>Desarmado y evaluación</h2>
					<%= image_tag("PROCESO/desarmado.jpg", class: 'imgProc1')%>
					<p>Una vez desarmado el equipo, el supervisor de taller toma las piezas de los compresores y los equipos de medicion necesarios para llevar a cabo una evaluacion mecánica de cada una de las piezas<br>
					El bloque es también examinado con el fin de descartar fallas graves del mismo
					</p>
					<button type="button" class="button">Esconder</button>
				</div>
				<div class = "Proc2">
					<h2>Recepción de equipos</h2>
					<%= image_tag("PROCESO/recepcion.jpg", class: 'imgProc2')%>
					<p>El compresor ingresa a nuestra empresa donde es identificado por su procedencia, marca, modelo, fecha de ingreso y estado del equipo, con esto se define su ficha técnica que servira para mantener el control del equipo.
					</p>
					<button type="button" class="button">Esconder</button>
				</div>
				<div class = "Proc3">
					<h2>Rebobinado</h2>
					<%= image_tag("PROCESO/rebobinado.jpg", class: 'imgProc3')%>
					<p>Todo compresor que presente daños en el embobinado es enviado al área de rebobinado, donde el nucleo del motor es limpiado.</p>
					<h4>Limpieza del estator</h4>
					<p>En esta zona se despeja el stator del embobinado dañado, el stator es limpiado con técnica de sandblasting o chorro de arena, garantizando el arranque de todas las impurezas presentes</p>
					<h4>Rebobinado</h4>
					<p>Con los datos originales de fabricación, el motor es rebobinado, en copelancita de venezuela se rebobinan equipos con capacidad de hasta 100 HP, incluyendo unidades trifásicas bifásicas o monofásicas desde 120 hasta 240 voltios.</p>
					<h4>Varnizado</h4>
					<p>Con el fin de proteger y garantizar un rendimiento de los motores rebobinados, estos son varnizados y llevados altas temperaturas en nuestros hornos, de este modo se garantiza un recubrimiento optimo</p>
					<button type="button" class="button">Esconder</button>
				</div>
				<div class = "Proc4">
					<h2>Rectificacion</h2>
					<%= image_tag("PROCESO/rectificacion2.jpg", class: 'imgProc4')%>
					<p>Toda pieza que fuese encontrada fuera de medida, pasa al área de rectificación, las piezas que tipicamente son rectificadas, son el cigueñal, el bloque y los platos de válvulas.</p>
					<button type="button" class="button">Esconder</button>
				</div>
				<div class = "Proc5">
					<h2>Stock de respuesto</h2>
					<%= image_tag("PROCESO/stock.jpg", class: 'imgProc5')%>
					<p>En Copelancita de Venezuela contamos con un amplio Stock de respuestos, es asi como garantizamos a nuestros clientes la entrega de sus equipos de manera oportuna. <br> 
					Una vez que las partes y piezas están limpias y rectificadas, el almacen entrega las piezans necesarias para reemplazar aquellas que fueron diagnosticadas como dañadas.
					</p>
					<button type="button" class="button">Esconder</button>
				</div>
				<div class = "Proc6">
					<h2>Ensamblado</h2>
					<%= image_tag("PROCESO/ensamblado.jpg", class: 'imgProc6')%>
					<p>El proceso de armado se lleva a cabo una vez que se dispone de todas las piezas nuevas y rectificadas. El ensamblaje de nuestro equipos se hace siguiendo las más estrictas normas internas</p>
					<h4>Prueba en vacio</h4>	
					<p>Para verificar la calidad del proceso de ensamblaje y de reconstrucción del embobinado, nuestros equipos son puestos en marcha antes de instalar los cabezales de los mismos </p>
					<h4>Prezurizado</h4>	
					<p>Luego de haber verificado la calidad del ensamblaje, el equipo es pintado y presurizado con nitrogeno.</p>
					<button type="button" class="button">Esconder</button>
				</div>
				<div class = "Proc7">
					<h2>Despacho y/o almacenaje</h2>
					<%= image_tag("PROCESO/despacho2.jpg", class: 'imgProc7')%>
					<p>Una vez terminado el proceso de reparacion y reconstrucción del equipo, el cliente es informado para realizar el despacho del mismo, miestras este es guardado en el rack de compresores en la espera.</p>
					<button type="button" class="button">Esconder</button>
				</div>
				<div class = "Proc8">
					<h2>Evaluación de presupuesto</h2>
					<%= image_tag("PROCESO/presupuesto.jpg", class: 'imgProc8')%>
					<p>Una vez evaluada la ficha del compresor, esta pasa a las oficinas administrativas donde se realiza un presupuesto ajustado al daño que posea el equipo, incluyendole recontrucciones, rectificaciones y reemplazo de partes y piezas mecanicas y/o eléctricas <br> 
					Una vez realizado esto se notifica al cliente el estado de su equipo y el costo de la reconstruccion del mismo , con su aprobación continuamos el proceso.
					</p>
					<button type="button" class="button">Esconder</button>
				</div>
</div>