<!DOCTYPE html>
<html>
<head>
  <title>Aplicacion</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>' id="body">
<div id="contenido">
	<div id="banner_2">
		<%= image_tag("logo/banner.jpg")%>
	</div>
	<div id="navegacion">
		<ul>
			<li><%= link_to "Inicio", vista_inicio_path %></li>
			<li><%= link_to "Empresa", vista_empresa_path %></li>
			<li><%= link_to "Servicios", vista_servicio_path %></li>
			<li><%= link_to "Contactar", vista_contactar_path %></li>
			<li><%= link_to "Productos", tienda_url %></li>
		</ul>
	</div>	
<div id="columns">
	<div id="side_1" class="inline">
		<%= render 'layouts/menu' %>
		<div id = "bannerDireccion">Dirección: <br>Av. Capitán de Navío Felipe Estévez. <br>Nº 34, La Pica, Prado de María, Caracas - Venezuela.<br>Telefonos:<br> (0212) 633.23.18 - 632.08.80 - Fax: (0212) 632.31.65<br>Email. copelancita@gmail.com</div>
		<div style="text-align:center;margin-top:5px;"><%= image_tag("logo/icra.gif")%></div>
	</div>	
	<div id="main" class="inline">
		<%= yield %>
	</div>
	<div id="side" class="inline">
		<% if @cart %>
		<div id="cart">
			<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
			<%= render @cart %>
			<% end %>
		</div>
		<% elsif @identifiant == "vistaInicial" %>
			<div class= "default">
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Carrier.jpg", class: 'imgComp1'), tienda_pagina_path(:marca => "Carrier") %></div>
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Copeland.jpg", class: 'imgComp2'), tienda_pagina_path(:marca => "Copeland")%></div>
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Trane.jpg", class: 'imgComp3'), tienda_pagina_path(:marca => "Trane") %></div>
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/York.jpg", class: 'imgComp4'), tienda_pagina_path(:marca => "York")%></div>
			</div>
		<% elsif @identifiant == "servicio" %>
			<%= render 'layouts/servicio' %>
		<% end %>
	</div>
</div>
	
	<% if session[:usuario_id] %>
	<ul>
	<li><%= link_to 'Ordenes', orders_path %></li>
	<li><%= link_to 'Productos', productos_path %></li>
	<li><%= link_to 'Usuarios', usuarios_path %></li>
	</ul>
	<%= button_to 'Logout', logout_path, method: :delete %>
	<% end %>
	
	<div id="footer">
	<div id="copyright">Copyright © 2014 Copelancita de Venezuela</br>
						Contactenos por copelancitadevenezuela@gmail.com</br>
						Llamenos por los teléfonos (0212) 633.23.18 - 632.08.80 - Fax: (0212) 632.31.65</div>
	<div id="links">
	<ul>
		<li><%= link_to "Inicio", vista_inicio_path %></li>
		<li><%= link_to "Empresa", vista_empresa_path %></li>
		<li><%= link_to "Servicios", vista_servicio_path %></li>
		<li><%= link_to "Productos", tienda_url %></li>
		<li><%= link_to "Usuarios", login_path %></li>
	</ul>
	</div>
	<div id="eventos">
		<h2>Expositor en <a href="http://www.friotecnologia.com/"><br> Frío-tecnología 2014 </a></h2>	
	</div>
	<div id="imgeventos"><%= image_tag("logo/frio-tecnologia.png")%></div>
	</div>

</div>	
</body>
</html>
