<!DOCTYPE html>
<html>
<head>
  <title>Aplicacion</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>' id="body">
<div id="contenido">
	<div id="banner_2">
		<%= image_tag("logo/logo_C.png",class: 'logo')%>
		<%= image_tag("logo/nombre.png",class: 'nombre')%>
	</div>
	<div id="navegacion">
		<ul>
			<li><%= link_to "Inicio", tienda_url %></li>
			<li><%= link_to "Empresa", vista_empresa_path %></li>
			<li><%= link_to "Servicios", vista_servicio_path %></li>
			<li><%= link_to "Productos", tienda_index_path %></li>
			<li><%= link_to "Contacto", vista_contactar_path %></li>
			<% if user_signed_in? %>
  			<li><%= link_to('Salir', destroy_user_session_path, :method=>'delete') %></li>  
  			<%else%>
  			<li><%= link_to "Login", new_user_session_path %></li>
  			<li><%= link_to "Nuevo usuario?", new_user_registration_path %></li>
			<%end%>
		</ul>
	</div>	
<div id="side_1" class="inline">
		<%= render 'layouts/menu' %>
		<%= link_to image_tag("COMPRESORES/Copeland_logo_2.jpg",class: 'logoSide'), tienda_pagina_path(:marca => "Copeland") %>
		<%= link_to image_tag("COMPRESORES/Carrier_logo_2.jpg",class: 'logoSide'), tienda_pagina_path(:marca => "Carrier") %>
		<%= link_to image_tag("COMPRESORES/Bitzer_logo_2.jpg",class: 'logoSide'), tienda_pagina_path(:marca => "Bitzer") %>
		<%= link_to image_tag("COMPRESORES/York_logo.jpg",class: 'logoSide'), tienda_pagina_path(:marca => "York") %>
		<%= link_to image_tag("logo/logoSide2.gif",class: 'newProduct'), tienda_index_path %>	
</div>	
<div id="main" class="inline">
	<%= yield %>
</div>

	<div id="side" class="inline">
		<% if @cart %>
		<div id="cart">
			<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
			<%= render @cart %>
			<% end %>
		</div>
		<% elsif @identifiant == "vistaInicial" %>
			<div class= "default">
				<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Carrier.jpg", class: 'imgComp1'), tienda_pagina_path(:marca => "Carrier") %></div>
				<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Copeland.jpg", class: 'imgComp2'), tienda_pagina_path(:marca => "Copeland")%></div>
				<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Trane.jpg", class: 'imgComp3'), tienda_pagina_path(:marca => "Trane") %></div>
				<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Bitzer2.jpg", class: 'imgComp4'), tienda_pagina_path(:marca => "Bitzer")%></div>
			</div>
		<% elsif @identifiant == "vistaContacto" %>
			<div class= "default">
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Carrier.jpg", class: 'imgComp1'), tienda_pagina_path(:marca => "Carrier") %></div>
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Copeland.jpg", class: 'imgComp2'), tienda_pagina_path(:marca => "Copeland")%></div>
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Trane.jpg", class: 'imgComp3'), tienda_pagina_path(:marca => "Trane") %></div>
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Bitzer2.jpg", class: 'imgComp4'), tienda_pagina_path(:marca => "Bitzer")%></div>
			</div>
		<% elsif @identifiant == "servicio" %>
			<div class= "default">
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Carrier.jpg", class: 'imgComp1'), tienda_pagina_path(:marca => "Carrier") %></div>
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Copeland.jpg", class: 'imgComp2'), tienda_pagina_path(:marca => "Copeland")%></div>
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Trane.jpg", class: 'imgComp3'), tienda_pagina_path(:marca => "Trane") %></div>
			<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Bitzer2.jpg", class: 'imgComp4'), tienda_pagina_path(:marca => "Bitzer")%></div>
			</div>
		<% elsif @identifiant == "vistaEmpresa" %>
			<div class= "default">
				<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Carrier.jpg", class: 'imgComp1'), tienda_pagina_path(:marca => "Carrier") %></div>
				<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Copeland.jpg", class: 'imgComp2'), tienda_pagina_path(:marca => "Copeland")%></div>
				<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Trane.jpg", class: 'imgComp3'), tienda_pagina_path(:marca => "Trane") %></div>
				<div id = "imgCompresores"><%= link_to image_tag("COMPRESORES/Bitzer2.jpg", class: 'imgComp4'), tienda_pagina_path(:marca => "Bitzer")%></div>
			</div>
		<% end %>	
	<% if session[:usuario_id] %>
	<ul>
	<li><%= link_to 'Ordenes', orders_path %></li>
	<li><%= link_to 'Productos', productos_path %></li>
	<li><%= link_to 'Usuarios Del Servicio', users_path %></li>
	<li><%= link_to 'Usuarios Administradores', usuarios_path %></li>
	</ul>
	<%= button_to 'Salir de Administrar', logout_path, method: :delete %>
	<% end %>
</div>
	
	<div id="footer">
		<div id="links">
		<ul>
		<li><%= link_to "Inicio", tienda_url %></li>
		<li><%= link_to "Empresa", vista_empresa_path %></li>
		<li><%= link_to "Servicios", vista_servicio_path %></li>
		<li><%= link_to "Productos", tienda_index_path %></li>
		<% if user_signed_in? %>
  		<li><%= link_to('Salir', destroy_user_session_path, :method=>'delete') %></li>  
  			<%else%>
  		<li><%= link_to "Login", new_user_session_path %></li>
  		<li><%= link_to "Nuevo usuario?", new_user_registration_path %></li>
		<%end%>
	</ul>
	</div>
	<%= image_tag("logo/banner_3.jpg")%>

</div>	
</body>
</html>
